@model FullyProject.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h2 class="content-header-title">العقارات</h2>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/Dashborad/Index">الصفحة الرئيسية</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">المستخدمين</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="~/Account/ShowUser">عرض المستخدمين</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Tables start -->
            <!-- Hoverable rows start -->
            <div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">العقارات</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                    </ul>
                </div>
            </div>






            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-body">
                    <h4 class="form-section">تغيير كلمة السر</h4>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                   
                    <div class="row">


                        <div class=" offset-md-2 col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(m => m.OldPassword, new { @class = " control-label" })

                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })


                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class=" offset-md-2 col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewPassword, new { @class = " control-label" })

                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })


                            </div>
                        </div>
                    </div>

                    <div class="row">


                        <div class=" offset-md-2 col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = " control-label" })

                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })




                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-right">
                            <input type="submit" value="تغيير كلمة السر" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }



                </div>
            </div>
            <!-- Hoverable rows end -->
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
