@model FullyProject.Models.PropertyOffer

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}



<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h2 class="content-header-title">العقارات </h2>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/Dashborad/Index">الصفحة الرئيسية</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="~/PropertyOffer/Index">العقارات</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="~/PropertyOffer/Create">اضافة عقار</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="content-body">
            <!-- Basic form layout section start -->
            <section id="basic-form-layouts">
                <div class="row match-height">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" id="basic-layout-form">اضافة عقار</h4>
                                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                                <div class="heading-elements">
                                    <ul class="list-inline mb-0">
                                        <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-body collapse in">
                                <div class="card-block">



                                    @using (Html.BeginForm("Create", "PropertyOffers", FormMethod.Post, new { enctype = "multipart/form-data" }))

                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="form-body">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <h4 class="form-section">العقار</h4>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.offerTitle, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.offerTitle, new { htmlAttributes = new { @class = "form-control", id = "nameofAq", placeholder = "مسمئ العقار", name = "fname" } })
                                                        @Html.ValidationMessageFor(model => model.offerTitle, "", new { @class = "text-danger", })



                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="stateofAq"> حالة العقار</label>

                                                        @Html.DropDownList("PropertyStateId", null, "أختر حالة العقار", htmlAttributes: new { @class = "form-control", id = "stateofAq", name = "interested" })



                                                        @Html.ValidationMessageFor(model => model.PropertyStateId, "", new { @class = "text-danger" })
                                                    </div>


                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="typeofAqq"> نوع العقار</label>

                                                        @Html.DropDownList("PropertyTypeId", null, "أختر  نوع العقار", htmlAttributes: new { @class = "form-control", id = "typeofAqq", name = "interested" })



                                                        @Html.ValidationMessageFor(model => model.PropertyTypeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.distance, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.distance, new { htmlAttributes = new { @class = "form-control", id = "area", placeholder = "المساحه", name = "fname" } })
                                                        @Html.ValidationMessageFor(model => model.distance, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="areatype"> وحدة المساحه</label>

                                                        @Html.DropDownList("distanceUnitId", null, "أختر وحدة المساحه", htmlAttributes: new { @class = "form-control", id = "areatype", name = "interested" })


                                                        @Html.ValidationMessageFor(model => model.distanceUnitId, "", new { @class = "text-danger" })
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", id = "price", placeholder = "السعر", name = "fname" } })
                                                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="pricetype"> نوع العمله</label>

                                                        @Html.DropDownList("currencyTypeId", null, "أختر نوع العمله ", htmlAttributes: new { @class = "form-control", id = "pricetype", name = "interested" })

                                                        @Html.ValidationMessageFor(model => model.currencyTypeId, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>

                                            </div>
                                            <h4 class="form-section">تفاصبل العقار</h4>
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.bedroomNumber, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.bedroomNumber, new { htmlAttributes = new { @class = "form-control", id = "countrooms", placeholder = "عدد الفرف", name = "fname" } })
                                                        @Html.ValidationMessageFor(model => model.bedroomNumber, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.bathroomNumber, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.bathroomNumber, new
                                                   {
                                                       htmlAttributes = new { @class = "form-control", id = "countbathrooms", placeholder = "عدد الحمامات", name = "fname" }
                                                   })
                                                        @Html.ValidationMessageFor(model => model.bathroomNumber, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.phoneNumber, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.phoneNumber, new { htmlAttributes = new { @class = "form-control", id = "numberComm", placeholder = "رقم التواصل", name = "fname" } })
                                                        @Html.ValidationMessageFor(model => model.phoneNumber, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>


                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.publish, htmlAttributes: new { @class = "control-label " })

                                                        <div class="checkbox">
                                                            @Html.EditorFor(model => model.publish)
                                                            @Html.ValidationMessageFor(model => model.publish, "", new { @class = "text-danger" })
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4 class="form-section">الصورة الرئيسية</h4>
                                                    <div class="form-group">
                                                        <label>اختيار الصورة</label>
                                                        <label id="projectinput7" class="file center-block">
                                                            <input type="file" id="file" name="photo">
                                                            <span class="file-custom"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h4 class="form-section">الصور الفرعية</h4>
                                                    <label>اختيار الصورة</label>
                                                    <label id="projectinput7" class="file center-block">
                                                        <input type="file" id="file" name="photos" multiple>
                                                        <span class="file-custom"></span>
                                                    </label>
                                                </div>
                                            </div>


                                            <h4 class="form-section">العنوان</h4>
                                            <div class="row">

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control", id = "country", name = "interested", placeholder = "الدوله" } })
                                                        @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control", id = "city", name = "interested", placeholder = "المدينه" } })
                                                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label " })

                                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", id = "adress", placeholder = "العنوان", name = "fname" } })
                                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })



                                                    </div>
                                                </div>
                                            </div>


                                            <h4 class="form-section">@Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label " })</h4>
                                            <div class="form-group">


                                                @Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control", id = "Diteals", rows = "5", name = "comment", placeholder = "الوصف" } })
                                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })



                                            </div>
                                            <div class="form-actions">
                                                <button onclick="Reset()" type="button" class="btn btn-warning  float-lg-right">
                                                    <i class="icon-cross2"></i> الغاء
                                                </button>
                                                <button type="submit" class="btn btn-primary mr-1 float-lg-right" value="حفظ">
                                                <i class="icon-check2"></i> حفظ
                                                    </button>
                                            </div>


                                        </div>
                                    }

                              
                        </div>
                    </div>
                </div>
            </section>

            <div>
                @Html.ActionLink("عرض العقارات", "Index")
            </div>
          
      
        </div>
    </div>
</div>
<!--  ////////////////////////////////////////////////////////////////////////////  -->




<script>
                    function Reset_sction_one() {
                        document.getElementById("nameofAq").value =
                        document.getElementById("stateofAq").value =
                        document.getElementById("typeofAq").value =
                        document.getElementById("area").value =
                        document.getElementById("areatype").value =
                        document.getElementById("price").value =
                        document.getElementById("pricetype").value = '';
                    }

                    function Reset_sction_tow() {
                        document.getElementById("countfloor").value =
                        document.getElementById("countrooms").value =
                        document.getElementById("countlivingrooms").value =
                        document.getElementById("countbathrooms").value =
                        document.getElementById("numberComm").value =
                        document.getElementById("country").value =
                        document.getElementById("city").value =
                        document.getElementById("adress").value =
                        document.getElementById("Diteals").value = '';
                    }
</script>




























