@model IEnumerable<FullyProject.Models.CarOffer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}


<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-6 col-xs-12 mb-1">
                <h2 class="content-header-title">السيارات</h2>
            </div>
            <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-xs-12">
                <div class="breadcrumb-wrapper col-xs-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="~/Dashboard/Index">الصفحة الرئيسية</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="~/CarOffers/">السيارات</a>
                        </li>
                        <li class="breadcrumb-item active"><a href="~/CarOffers/">عرض السيارات</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Basic Tables start -->
            <!-- Hoverable rows start -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">السيارات</h4>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="row">
                                @using (Html.BeginForm())
                                {

                                    <div class=" col-md-6">
                                        <div class="form-group">
                                            <label class="label-control">بحث بالكود</label>
                                            <input type="text" class="form-control" name="searchString" />

                                            <button type="submit" class="btn btn-primary mr-1 float-lg-right">
                                                <i class="icon-search"></i>   بحث
                                            </button>
                                        </div>
                                    </div>


                                }
                                <div class="col-md-6">
                                    أجمالي العقارات:@ViewBag.carCount
                                </div>
                            </div>        
                                                    <div class="table-responsive">
                                        <table class="table table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th>الكود</th>
                                                   
                                                    <th>السعر</th>
                                                    <th>منشور في الموقع</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                       <td>@Html.DisplayFor(modelItem => item.code)</td>
                                                       

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.price)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.publish)
                                                        </td>
                                                        

                                                        <td>
                                                            <button type="button" class="btn mr-1  btn-outline-primary btn-sm">@Html.ActionLink("تفاصيل", "Details", new { id = item.Id }) </button>
                                                            <button type="button" class="btn mr-1  btn-outline-warning btn-sm">@Html.ActionLink("تعديل", "Edit", new { id = item.Id }) </button>
                                                            <button type="button" class="btn mr-1  btn-outline-danger btn-sm">@Html.ActionLink("حذف", "Delete", new { id = item.Id })</button>

                                                        </td>

                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            <!-- Hoverable rows end -->
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->


    @Html.ActionLink("Create New", "Create")


